<!DOCTYPE html>
<html lang="en">
<head>
<title>Careerland - Dövlət qulluğu</title>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<style>
.content { 
  margin-top:54px; 
}
.header {
  padding:15px; 
  position:fixed; 
  top:0; 
  width:100%; 
  z-index:9999; 
  background-color: #d35400;
}
.left-title { 
  color:#FFF; 
  font-size:18px; 
  float:left;
}
.right-title { 
  width:150px; 
  text-align:right; 
  float:right; 
  color:#FFF;  
}
.quiz-body { 
  margin-top:15px; 
  padding-bottom:50px; 
}
.option-block-container { 
  margin-top:20px;
  max-width:420px; 
}
.option-block { 
  padding:10px; 
  background:aliceblue; 
  border:1px solid #84c5fe; 
  margin-bottom:10px; 
  cursor:pointer; 
}
.result-question { 
  font-weight:bold; 
}
.c-wrong { 
  margin-left:20px; 
  color:#FF0000; 
}
.c-correct {  
  margin-left:20px; 
  color:green; 
}
.last-row { 
  border-bottom:1px solid #ccc; 
  padding-bottom:25px; 
  margin-bottom:25px; }

.res-header { 
  border-bottom:1px solid #ccc; 
  margin-bottom:15px; 
  padding-bottom:15px; }
</style>
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body translate="no">
  <header class="header">
    <div class="left-title">Dövlət Qulluğu</div>
    <div class="right-title">Toplam Sual: <span id="tque"></span></div>
    <div class="clearfix"></div>
  </header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="result" class="quiz-body">
          <form name="quizForm" onSubmit="">
            <fieldset class="form-group">
              <h4><span id="qid">1.</span> <span id="question"></span></h4>
              <img id="picTrivia">
              <div class="option-block-container" id="question-options">
              </div> 
            </fieldset>
            <button name="previous" id="previous" class="btn btn-success" style="cursor: pointer">Əvvəlki</button>
              &nbsp;
            <button name="next" id="next" class="btn btn-success" style="cursor: pointer">Sonrakı</button>
          </form>
        </div>
      </div> 
    </div> 
  </div> 
</div> 
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
<script id="rendered-js">
/* Created and coded by Abhilash Narayan */
/* Quiz source: w3schools.com */

var quiz = {

  images: [
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "static/images/61.png",
    "",
    "",
    "static/images/image1.jpg",
    "",
    "static/images/66.png",
    "",
    "",
    "",
    "",
    "static/images/71.png",
    "",
    "",
    "static/images/74.png",
    "static/images/75.png",
    "",
    "static/images/77.png",
    "static/images/78.png",
    "",
    "static/images/80.png",
    "",
    "",
    "static/images/83.png",
    "static/images/84.png",
    "static/images/85.png",
    "static/images/86.png",
    "static/images/87.png",
    "",
    "",
    "static/images/90.png",
    "",
    "static/images/92.png",
    "static/images/93.png",
    "",
    "static/images/95.png",
    "static/images/96.png",
    "static/images/97.png",
    "",
    "static/images/99.png",
    "",
    
  ],

  "JS": [
  {
    "id": 1,
    "question": " Mürəkkəb cümləni müəyyən edin: ",
    "options": [
    { "a": "Ana düşündü, xeyli götür – qoy etdi,bir qərara gələ bilmədi.",
      "b": " Doğru söz acı olar.",
      "c": " Yol onu çox yormuşdu,özünə gələ bilmirdi.",
      "d": "Başını aşağı salıb,heç kimlə sağollaşmadan ordan uzaqlaşdı.",
      "e": "Bu istifadə etmək üçün deyil,bəzək üçündür." }],

    "answer": "Bu istifadə etmək üçün deyil,bəzək üçündür.",
    "score": 0,
    "status": "" },

  {
    "id": 2,
    "question": "Verilmiş sözlərdən birini feilin iki sadə şəklində düşünmək olar:",
    "options": [
    { "a": "barmaq",
      "b": "qoşmaq",
      "c": "sınıq ",
      "d": "qalaq",
      "e": "balaq" }],

    "answer": "qalaq",
    "score": 0,
    "status": "" },

  {
    "id": 3,
    "question": "İdarə əlaqəsi olmayan variantı seçin:",
    "options": [
    { "a": "kəndə doğru",
      "b": "düşünmədən danışanda",
      "c": " deyilənləri anlamaq",
      "d": " gözünün ağı-qarası ",
      "e": " çaydan kənarda " }],

    "answer": "düşünmədən danışanda",
    "score": 0,
    "status": "" },

  {
    "id": 4,
    "question": "Kökü omonim olan bu sözü həm ismin yiyəlik halı,həm mənsubiyyət şəkilçisi, həm də feilin əmr şəkli kimi düşünmək olar:",
    "options": [
    { "a": "qarın",
      "b": "qızın",
      "c": "axın",
      "d": "gözün",
      "e": "alın" }],


    "answer": "qızın",
    "score": 0,
    "status": "" },

  {
    "id": 5,
    "question": " Omonim kimi işlənən ədatları seçin.",
    "options": [
    { "a": " bəli, yox, di, qoy ",
      "b": " heç, hə, ha, gəlin ",
      "c": " əsl, elə, xeyr, heç ",
      "d": "ancaq, təkcə, bir, düz",
      "e": " yalnız, elə, düz, ən  " }],


    "answer": "ancaq, təkcə, bir, düz",
    "score": 0,
    "status": "" },

  {
    "id": 6,
    "question": " Birinin yaranma yolu düzgün göstərilməyib: ",
    "options": [
    { "a": " xoşqoxulu – sintaktik üsulla ",
      "b": "əməkdaş – morfoloji üsulla",
      "c": "daş-kəsək – sintaktik üsulla",
      "d": "kitabxana – morfoloji üsulla",
      "e": "birbəbir– morfoloji üsulla" }],



    "answer": "birbəbir– morfoloji üsulla",
    "score": 0,
    "status": "" },

  {
    "id": 7,
    "question": "Vurğudan asılı olaraq mənası dəyişə bilən sözləri müəyyənləşdirin: ",
    "options": [
    { "a": "qazanc,alma",
      "b": "satirik,nərə",
      "c": "bağlama,burma",
      "d": "əyan,qandır",
      "e": "dava,gəlmə" }],


    "answer": "bağlama,burma",
    "score": 0,
    "status": "" },

  {
    "id": 8,
    "question": " Azərbaycan tədqiqatları. Berlin, 2007, 266 səh. Məcmuəyə 21 məqalə daxil edilmişdir. Məqalələrdə iqtisadiyyat, dil, tarix və ədəbiyyatla bağlı mövzulara toxunulmuşdur. Növü nədir? ",
    "options": [
    { "a": "protokol",
      "b": "izahat",
      "c": "bildiriş",
      "d": "annotasiya",
      "e": "arayış" }],


    "answer": "annotasiya",
    "score": 0,
    "status": "" },

  {
    "id": 9,
    "question": "Hansı frazeoloji birləşməni iki mənada başa düşmək olar? ",
    "options": [
    { "a": "dil tökmək",
      "b": "özündən çıxmaq",
      "c": " yada salmaq",
      "d": "xoşu gəlmək",
      "e": "söz vermək" }],


    "answer": "söz vermək",
    "score": 0,
    "status": "" },

  {
    "id": 10,
    "question": "Azərbaycan dilindən başqa dilə keçən sözü seçin? ",
    "options": [
    { "a": "cücə",
      "b": "xanım",
      "c": "heyvan",
      "d": "vedrə",
      "e": "əmi" }],


    "answer": "xanım",
    "score": 0,
    "status": "" },

  {
    "id": 11,
    "question": "Şəxssiz cümləni müəyyən edin: ",
    "options": [
    { "a": " Uşaq evin bəzəyidir,deyib atalar. ",
      "b": " İndi onun atasının işdən qayıdan vaxtı idi. ",
      "c": " Qışın oğlan çağında tanış olmuşduq. ",
      "d": " Hər deyilənə qulaq asmazlar.  ",
      "e": " O bu hərəkətinə görə çox adamın gözündən düşmüşdü. " }],


    "answer": "while (i &lt;= 10)",
    "score": 0,
    "status": "" },

  {
    "id": 12,
    "question": " Tərkibində üç leksik şəkilçi olan sözü müəyyən edin: ",
    "options": [
    { "a": "qopartdırmışdı",
      "b": "yazılmışdır",
      "c": "asanlaşdırıb",
      "d": "ağılsızcasına",
      "e": "dəlisovluq" }],


    "answer": "qopartdırmışdı",
    "score": 0,
    "status": "" },

  {
    "id": 13,
    "question": " Hansı cümlələrdə xitab işlənməyib? ",
    "options": [
    { "a": "Söhbət edənlər,siz də qulaq asın. ",
      "b": "Siz kiminlə görüşəcəksiz? ",
      "c": "Bu cür düşünməyinin səbəbini demədin,dayı.",
      "d": "Siz nə gözəlsiniz yollar,a yollar? ",
      "e": "  Elə bilirəm onu bu gün siz görmüsünüz. " }],


    "answer": "Bu cür düşünməyinin səbəbini demədin,dayı.",
    "score": 0,
    "status": "" },

  {
    "id": 14,
    "question": " Doğru fikri müəyyənləşdirin: ",
    "options": [
    { "a": "Rayonda oluruq cümləsində “ol”sözü köməkçi feil deyil.",
      "b": " Söz cümlə isimlə də ifadə oluna bilər. ",
      "c": "“Deyil”sözü təklikdə cümlə üzvü ola bilir. ",
      "d": "Frazeoloji birləşmələr cümlədə mürəkkəb cümlə üzvü olur.",
      "e": " –dakı şəkilçili sözlərə  haradakı? sualı vermək mümkündür. " }],


    "answer": "Rayonda oluruq cümləsində “ol”sözü köməkçi feil deyil.",
    "score": 0,
    "status": "" },

  {
    "id": 15,
    "question": " Hansı üslub xalq dilinə daha çox nüfuz edir? ",
    "options": [
    { "a": "bədii ",
      "b": "məişət ",
      "c": "publisistik",
      "d": "elmi",
      "e": "verilənlərdən heç biri" }],


    "answer": "publisistik",
    "score": 0,
    "status": "" },

  {
    "id": 16,
    "question": "Dövlət qulluğu haqqında Azərbaycan Respublikasının Qanununa əsasən Naxçıvan Muxtar Respublikasının Hərbi Prokurorluğu neçənci kateqoriya dövlət orqanıdır? ",
    "options": [
    { "a": "Ali",
      "b": "1",
      "c": "2",
      "d": "3" }],



    "answer": "3",
    "score": 0,
    "status": "" },

  {
    "id": 17,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən təbii ehtiyatlar mənsubdur: ",
    "options": [
    { "a": "xalqa",
      "b": "Azərbaycan Respublikasının vətəndaşlarına",
      "c": "Azərbaycan Respublikasına",
      "d": "yalnız mülkiyyətçilərə" }],


    "answer": "Azərbaycan Respublikasına",
    "score": 0,
    "status": "" },


  {
    "id": 18,
    "question": "Dövlət qulluğu haqqında Azərbaycan Respublikasının Qanununa əsasən dövlət qulluqçusunun inzibati vəzifələrin dördüncü təsnifati üzrə daha yüksək ixtisas dərəcəsi alması üçün qulluq müddəti nə qədər olmalıdır?",
    "options": [
    { "a": "ixtisas dərəcəsində 3 il",
      "b": "təsnifat üzrə ardıcıl 3 il",
      "c": "ixtisas dərəcəsində ardıcıl 3 il",
      "d": "təsnifat üzrə 3 il" }],



    "answer": "ixtisas dərəcəsində 3 il",
    "score": 0,
    "status": "" },


  {
    "id": 19,
    "question": "Kargüzarlıq haqqında Təlimata əsasən qeyd ştampı hara vurulur?",
    "options": [
    { "a": "birinci səhifənin üz tərəfinin aşağı sağ küncünə",
      "b": "birinci səhifənin arxa tərəfinin aşağı sol küncünə",
      "c": "pubbirinci səhifənin arxa tərəfinin aşağı sağ küncünəlisistik",
      "d": "birinci səhifənin üz tərəfinin aşağı sol küncünə",
      "e": "verilənlərdən heç biri" }],


    "answer": "birinci səhifənin üz tərəfinin aşağı sağ küncünə",
    "score": 0,
    "status": "" },


  {
    "id": 20,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən hansı halda şəxs valideynlərinə qarşı ifadə verməyə məcbur edilə bilər?",
    "options": [
    { "a": "valideynin bu haqda yazılı razılığı olduqda",
      "b": "cinayətin ictimai-təhlükəlilik dərəcəsindən asılı olaraq",
      "c": "məcbur edilə bilməz",
      "d": "bu haqda müvafiq səlahiyyətli orqanın qərarı olduqda" }],



    "answer": "məcbur edilə bilməz",
    "score": 0,
    "status": "" },



  {
    "id": 21,
    "question": "Göstərilən ardıcıllığa uyğun gələn variantı tapın: 1-ci kateqoriya dövlət orqanı – inzibati vəzifələrin 3-cü təsnifatı;",
    "options": [
    { "a": " Azərbaycan Respublikasının Ali Məhkəməsində böyük məsləhətçi;  ",
      "b": "Naxçıvan Muxtar Respublikasının Nazirlər Kabinetində bölmə rəhbərinin müavini ",
      "c": "Azərbaycan Respublikasının Məhkəmə-Hüquq Şurasının Aparatında şöbə müdirinin müavin",
      "d": "Azərbaycan Respublikasının Hesablama Palatasında bölmə rəhbəri" }],



    "answer": "Azərbaycan Respublikasının Məhkəmə-Hüquq Şurasının Aparatında şöbə müdirinin müavin",
    "score": 0,
    "status": "" },



  {
    "id": 22,
    "question": "Azərbaycan Respublikasında dövlət dili haqqında Azərbaycan Respublikasının Qanununa əsasən Azərbaycan Respublikasının inzibati ərazi bölgüsünü təşkil edən inzibati ərazi vahidlərinin adları:",
    "options": [
    { "a": " yalnız dövlət dilində yazıla bilər ",
      "b": "yalniz müvafiq icra hakimiyyəti orqanının müəyyənləşdirdiyi qaydada yazılır ",
      "c": "dövlət dili ilə yanaşı xarici dillərdə də yazıla bilər",
      "d": "yalnız xarici  dildə yazıla bilər" }],



    "answer": "dövlət dili ilə yanaşı xarici dillərdə də yazıla bilər",
    "score": 0,
    "status": "" },



  {
    "id": 23,
    "question": "Dövlət orqanlarının ştat cədvəllərinin yaradılması və dövlət qulluqçularının vəzifə təlimatlarının hazırlanması üçün əsas nədir? ",
    "options": [
    { "a": "Dövlət orqanlarının rəhbərlərinin konkret tapşırıqları ",
      "b": " Müvafiq icra hakimiyyəti orqanının qərarı ",
      "c": "İnzibati və yardımçı vəzifələrin təsnifat toplusu",
      "d": " Yuxarı dövlət orqanlarının konkret tapşırıqları" }],



    "answer": "İnzibati və yardımçı vəzifələrin təsnifat toplusu",
    "score": 0,
    "status": "" },



  {
    "id": 24,
    "question": "Verilənlərdən hansının Azərbaycan Respublikasının Konstitusiya Məhkəməsinə sorğu vermək hüququ var, amma Milli Məclisdə qanunvericilik təşəbbüsü hüququ yoxdur",
    "options": [
    { "a": "Azərbaycan Respublikası Nazirlər Kabinetinin",
      "b": " Azərbaycan Respublikasının Prezidentinin ",
      "c": "Azərbaycan Respublikasının səsvermə hüququ olan 40 min vətəndaşının",
      "d": "Naxçıvan Muxtar Respublikasının Ali Məhkəməsinin" }],



    "answer": "Azərbaycan Respublikası Nazirlər Kabinetinin",
    "score": 0,
    "status": "" },



  {
    "id": 25,
    "question": "Dövlət qulluqçusu etik davranışı və öz peşəkar fəaliyyəti ilə dövlət orqanlarına kimin inamını möhkəmləndirməlidir? ",
    "options": [
    { "a": " Azərbaycan Respublikası vətəndaşlarının ",
      "b": "fiziki və hüquqi şəxslərin",
      "c": "hər kəsin",
      "d": " xalqın və cəmiyyətin" }],



    "answer": "fiziki və hüquqi şəxslərin",
    "score": 0,
    "status": "" },

  {
    "id": 26,
    "question": " Azərbaycan Respublikası Milli Məclisinin 95 deputatının səlahiyyətləri təsdiq edildikdən sonra Milli Məclisin ilk iclası nə vaxt keçirilir? ",
    "options": [
    { "a": "Həmin gündən başlayaraq bir həftədən gec olmadan",
      "b": " Həmin gündən başlayaraq 7 iş günü ərzində ",
      "c": "Həmin gündən başlayaraq bir ay ərzində",
      "d": "Martın 10-dək Konstitusiya Məhkəməsi tərəfindən müəyyən edilən vaxtda" }],



    "answer": "Həmin gündən başlayaraq bir həftədən gec olmadan",
    "score": 0,
    "status": "" },


  {
    "id": 27,
    "question": "Korrupsiya ilə əlaqədar hüquqpozmalarla bağlı məlumat verən şəxs və ya onun yaxın qohumu barəsində öldürməklə hədənin icra ediləcəyi, zor tətbiq ediləcəyi, əmlakının məhv ediləcəyi və ya ona ziyan vurulacağı qorxusunun mövcudluğu barədə real əsaslar olduğu təqdirdə, korrupsiya ilə əlaqədar hüquqpozmalarla bağlı məlumat verən şəxs barəsində təhlükəsizlik tədbirlərinin görülməsi üçün həmin şəxs hansı orqana müraciət etməlidir",
    "options": [
    { "a": " Azərbaycan Respublikasının Korrupsiyaya qarşı mübarizə üzrə Komissiyasına ",
      "b": "Prokurorluğa",
      "c": "Məhkəmə-Hüquq Şurasına",
      "d": "Korrupsiyaya qarşı mübarizəni həyata keçirən orqanlara" }],



    "answer": "Prokurorluğa",
    "score": 0,
    "status": "" },


  {
    "id": 28,
    "question": "Dövlət qulluqçusunun şəxsi işinin aparılması ilə bağlı tələblərin pozulmasında təqsirli olan şəxslər hansı məsuliyyəti daşıyırlar?",
    "options": [
    { "a": "İntizam məsuliyyəti",
      "b": "Azərbaycan Respublikasının Mülki Məcəlləsində nəzərdə tutulmuş məsuliyyəti",
      "c": "Azərbaycan Respublikasının İnzibati Xətalar Məcəlləsində nəzərdə tutulmuş məsuliyyəti",
      "d": "İntizam, mülki-hüquqi və ya inzibati məsuliyyət" }],



    "answer": "Azərbaycan Respublikasının İnzibati Xətalar Məcəlləsində nəzərdə tutulmuş məsuliyyəti",
    "score": 0,
    "status": "" },

  {
    "id": 29,
    "question": "Dövlət orqanlarında korrupsiya ilə əlaqədar müraciətlərə baxılması zamanı əməldə cinayət əlamətləri olan hüquqpozmalar aşkar olunarsa, dövlət orqanının rəhbəri hansı qərarı qəbul edir?",
    "options": [
    { "a": "vəzifəli şəxsin cinayət məsuliyyətinə cəlb edilməsi üçün qərar qəbul edir ",
      "b": "müvafiq sənədlərin Azərbaycan Respublikasının Baş Prokurorluğuna göndərilməsi barədə qərar qəbul edir",
      "c": "Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun tədbir görülməsi ilə bağlı qərar qəbul edir",
      "d": "Azərbaycan Respublikasının Mülki Məcəlləsinə və Azərbaycan Respublikasının İnzibati Xətalar Məcəlləsinə uyğun olaraq tədbirlər görülməsi ilə bağlı qərar qəbul edir" }],



    "answer": "müvafiq sənədlərin Azərbaycan Respublikasının Baş Prokurorluğuna göndərilməsi barədə qərar qəbul edir",
    "score": 0,
    "status": "" },

  {
    "id": 30,
    "question": "Dövlət orqanlarında dövlət qulluqçusuna dövlət qulluğunda qulluq stajına görə əlavə haqqın məbləğlərinin müəyyənləşdirilməsi qaydalarına əsasən dövlət qulluqçusunun dövlət qulluğunda qulluq stajı hesablanarkən nəzərə alınmayan hansıdır?",
    "options": [
    { "a": "əmək qabiliyyətinin müvəqqəti itirildiyi müddət ",
      "b": "müddətli həqiqi hərbi xidmətdə olduğu dövr",
      "c": "dövlət qulluğu vəzifəsində staj və sınaq müddəti",
      "d": "məhkəmə və ya müvafiq səlahiyyətli orqan tərəfindən müəyyən edilmiş dövlət qulluqçusunun məcburi işburaxma dövrü" }],



    "answer": "müddətli həqiqi hərbi xidmətdə olduğu dövr",
    "score": 0,
    "status": "" },

  {
    "id": 31,
    "question": "Kargüzarlıq haqqında Təlimata əsasən sənədlərin və onlarda olan tapşırıqların icrasına nəzarət kim tərəfindən həyata keçirilir?",
    "options": [
    { "a": "təşkilatların və struktur bölmələrinin rəhbərlərinin müavinləri ",
      "b": "təşkilatların və struktur bölmələrinin rəhbərləri",
      "c": "icraçılar",
      "d": "yalnız kargüzarlıq xidməti" }],



    "answer": "təşkilatların və struktur bölmələrinin rəhbərləri",
    "score": 0,
    "status": "" },


  {
    "id": 32,
    "question": "Azərbaycan Respublikasının Konstitusiyasında müəyyən edilmiş əsas vəzifələrə əsasən hər bir şəxs qorumalıdır: 1. tarix və mədəniyyət abidələrini; 2. milli mənsubiyyəti; 3. şərəf və ləyaqətini; 4. ətraf mühiti; 5. dövlət rəmzlərini; ",
    "options": [
    { "a": "1, 5",
      "b": "1, 4",
      "c": "2, 4",
      "d": "3, 5" }],



    "answer": "publisistik",
    "score": 0,
    "status": "" },


  {
    "id": 33,
    "question": "Azərbaycan Respublikasının Dövlət gerbindən istifadə qaydaları haqqında Azərbaycan Respublikasının Qanununa əsasən Azərbaycan Respublikasının Dövlət Gerbi ilə bağlı dövlətin vəzifələrindən hansı doğru deyil?",
    "options": [
    { "a": "Azərbaycan Respublikasının Dövlət Gerbinin mahiyyətini və əhəmiyyətini əhali arasında geniş təbliğ etmək və onları bu barədə maarifləndirmək",
      "b": "gəncləri və təhsilalanları Azərbaycan Respublikasının Dövlət Gerbinə hörmət ruhunda tərbiyələndirmək",
      "c": "Azərbaycan Respublikasının hüdudlarından kənarda Azərbaycan Respublikasının Dövlət Gerbi barədə təhqiredici hərəkətlərin qarşısının alınması üçün beynəlxalq hüquq normalarına və Azərbaycan Respublikasının Mülki Məcəlləsinə uyğun tədbirlər görmək",
      "d": "Azərbaycan Respublikasının Dövlət gerbindən istifadə qaydaları haqqında Azərbaycan Respublikasının Qanununa riayət olunmasına nəzarəti təmin etmək" }],



    "answer": "Azərbaycan Respublikasının hüdudlarından kənarda Azərbaycan Respublikasının Dövlət Gerbi barədə təhqiredici hərəkətlərin qarşısının alınması üçün beynəlxalq hüquq normalarına və Azərbaycan Respublikasının Mülki Məcəlləsinə uyğun tədbirlər görmək",
    "score": 0,
    "status": "" },



  {
    "id": 34,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən Azərbaycan Respublikasının Milli Məclisi həll etdiyi məsələlərdən hansına dair 63 səs çoxluğu qanun qəbul edir?",
    "options": [
    { "a": "beynəlxalq müqavilələrin təsdiqi və ləğvi ",
      "b": "inzibati ərazi bölgüsü",
      "c": "referendum təyin edilməsi",
      "d": "Azərbaycan Respublikası  Prezidentinin təqdimatına əsasən Azərbaycan Respublikası ağır cinayətlər məhkəmələrinin hakimlərinin vəzifədən azad edilməsi" }],



    "answer": "inzibati ərazi bölgüsü",
    "score": 0,
    "status": "" },

  {
    "id": 35,
    "question": "Verilən vəzifələrdən hansı yalnız qulluqda yüksəliş və ya müsahibə yolu ilə tutulur?",
    "options": [
    { "a": "Azərbaycan Respublikası Nazirlər Kabinetinin Aparatında baş məsləhətçi",
      "b": "Azərbaycan Respublikasının Hesablama Palatasında sektor müdiri",
      "c": "Azərbaycan Respublikasının Qida Təhlükəsizliyi Agentliyində bölmə rəhbəri",
      "d": "Azərbaycan Respublikasının Məhkəmə-Hüquq Şurasında Aparat rəhbəri" }],



    "answer": "Azərbaycan Respublikası Nazirlər Kabinetinin Aparatında baş məsləhətçi",
    "score": 0,
    "status": "" },


  {
    "id": 36,
    "question": "Dövlət qulluqçularının etik davranış qaydaları haqqında Qanuna əsasən ictimai etimadla bağlı verilmiş səhv fikri göstərin: ",
    "options": [
    { "a": "Dövlət qulluqçusu ictimai etimadın bərpası üçün tədbirlər görməyə borcludur",
      "b": "Dövlət qulluqçusu Azərbaycan Respublikasının nüfuzunu möhkəmləndirməyə borcludur",
      "c": "Dövlət qulluqçusu işlədiyi dövlət orqanında etik davranış qaydalarının pozulması nəticələrini aradan qaldırmağa borcludur",
      "d": "Dövlət qulluqçusu dövlət orqanının nüfuzunu möhkəmləndirməyə borcludur" }],



    "answer": "Dövlət qulluqçusu işlədiyi dövlət orqanında etik davranış qaydalarının pozulması nəticələrini aradan qaldırmağa borcludur",
    "score": 0,
    "status": "" },


  {
    "id": 37,
    "question": "Vətəndaşların müraciətlərinə ilə bağlı kargüzarlığın aparılma qaydası hansı tərəfindən təmin edilir?",
    "options": [
    { "a": "Vətəndaşların müraciətlərinə ilə bağlı kargüzarlığın aparılma qaydası hansı tərəfindən təmin edilir?",
      "b": "müvafiq icra hakimiyyəti orqanının yaratdığı qurum tərəfindən",
      "c": "müraciətə baxan subyektin rəhbəri tərəfindən",
      "d": "müraciətə baxan subyektin nümayəndəsi tərəfindən" }],



    "answer": "müraciətə baxan subyektin rəhbəri tərəfindən",
    "score": 0,
    "status": "" },


  {
    "id": 38,
    "question": "Məlumat azadlığı haqqında Azərbaycan Respublikasının Qanununa əsasən məlumatın əldə edilməsi üçün təminatlardan hansı doğru deyil?",
    "options": [
    { "a": "kütləvi informasiya vasitələrində, o cümlədən mətbuatda dövlət senzurasına yol verilməməsi ilə",
      "b": "statistik məlumatlardan, kitabxanaların, arxivlərin və muzeylərin fondlarından, habelə informasiya sistemlərindən maneəsiz istifadə edilməsi ilə",
      "c": "şəxsiyyətin, cəmiyyətin və dövlətin təhlükəsizliyinin qorunması yolu ilə",
      "d": "normativ-hüquqi aktların qanunvericilikdə nəzərdə tutulmuş qaydada əhalinin nəzərinə çatdırılması ilə" }],



    "answer": "şəxsiyyətin, cəmiyyətin və dövlətin təhlükəsizliyinin qorunması yolu ilə",
    "score": 0,
    "status": "" },

  {
    "id": 39,
    "question": "Verilənlərdən hansı Azərbaycan Respublikası dövlət büdcəsinin icrasını təmin edir? ",
    "options": [
    { "a": "Azərbaycan Respublikasının Prezidenti",
      "b": "Azərbaycan Respublikasının Milli Məclisi",
      "c": "Azərbaycan Respublikasının Nazirlər Kabineti",
      "d": "Azərbaycan Respublikasının Maliyyə Nazirliyi" }],



    "answer": "Azərbaycan Respublikasının Nazirlər Kabineti",
    "score": 0,
    "status": "" },


  {
    "id": 40,
    "question": " Məhkəmələr və hakimlər haqqında Azərbaycan Respublikasının Qanununa əsasən apellyasiya instansiyası məhkəmələrində işlərə hansı tərkibdə baxılır? ",
    "options": [
    { "a": "təkbaşına və ya kollegial",
      "b": "təkbaşına",
      "c": "təkbaşına və üç hakimdən ibarət tərkibdə",
      "d": "üç və ya daha çox hakimdən ibarət tərkibdə" }],



    "answer": "üç və ya daha çox hakimdən ibarət tərkibdə",
    "score": 0,
    "status": "" },



  {
    "id": 41,
    "question": "Məlumat bildirişinin və elektron sənədin istifadəsi nə ilə tənzimlənir",
    "options": [
    { "a": "Azərbaycan Respublikasının Konstitusiyası ilə",
      "b": "Yalnız “Elektron imza və elektron sənəd haqqında” Azərbaycan Respublikasının Qanunu ilə",
      "c": "“Elektron imza və elektron sənəd haqqında” Azərbaycan Respublikasının Qanunu və digər normativ hüquqi aktlarla",
      "d": "Bu Qanunla və digər normativ xarakterli aktlarla" }],



    "answer": "“Elektron imza və elektron sənəd haqqında” Azərbaycan Respublikasının Qanunu və digər normativ hüquqi aktlarla",
    "score": 0,
    "status": "" },



  {
    "id": 42,
    "question": "Dövlət qulluğu haqqında Azərbaycan Respublikasının Qanununa əsasən verilənlərdən hansının əsas səlahiyyətləri Azərbaycan Respublikasının Konstitusiya qanunları ilə müəyyən edilmir? ",
    "options": [
    { "a": "Azərbaycan Respublikası Məhkəmə-Hüquq Şurasının",
      "b": "Azərbaycan Respubliksı Qida Təhlükəsizliyi Agentliyinin",
      "c": "Azərbaycan Respublikasının Mərkəzi Seçki Komissiyasının",
      "d": "Azərbaycan Respublikası Nazirlər Kabinetinin" }],



    "answer": "Azərbaycan Respublikası Nazirlər Kabinetinin",
    "score": 0,
    "status": "" },



  {
    "id": 43,
    "question": " Dövlət qulluqçularının etik davranış qaydaları haqqında Azərbaycan Respublikasının Qanununun məqsədlərindən hansı doğru deyil? ",
    "options": [
    { "a": "dövlət qulluqçuları tərəfindən etik davranış qaydalarına əməl olunmasına nəzarət edilməsi",
      "b": "dövlət qulluqçularının fəaliyyətində maraqların toqquşmasının qarşısının alınması",
      "c": "dövlət orqanlarının və dövlət qulluğunun nüfuzunun artırılması, vətəndaşların dövlət orqanlarına və dövlət qulluqçularına etimadının yüksəldilməsi",
      "d": "dövlət qulluqçularından gözlənilən davranış barədə vətəndaşların məlumatlandırılması" }],



    "answer": "dövlət qulluqçuları tərəfindən etik davranış qaydalarına əməl olunmasına nəzarət edilməsi",
    "score": 0,
    "status": "" },



  {
    "id": 44,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən yalnız əcnəbilərə və vətəndaşlığı olmayan şəxslərə məxsusdur:",
    "options": [
    { "a": "təqsirsizlik prezumpsiyası hüququ",
      "b": "vətəndaşlıq hüququ",
      "c": "milli mənsubiyyət hüququ",
      "d": "siyasi sığınacaq hüququ" }],



    "answer": "siyasi sığınacaq hüququ",
    "score": 0,
    "status": "" },



  {
    "id": 45,
    "question": "Dövlət orqanlarında, dövlət mülkiyyətində olan və paylarının (səhmlərinin) nəzarət zərfi dövlətə məxsus olan hüquqi şəxslərdə və büdcə təşkilatlarında kargüzarlığın aparılmasına dair Təlimatın müddəaları hansına şamil edilir? ",
    "options": [
    { "a": "Təşkilatlarda vətəndaşların müraciətləri ilə bağlı kargüzarlığın aparılmasına",
      "b": "Bakı Şəhər İcra Hakimiyyətində kargüzarlığın aparılmasına",
      "c": "Yerli özünüidaretmə orqanlarında kargüzarlığın aparılmasına",
      "d": "Neftçala Rayon İcra Hakimiyyətində kargüzarlığın aparılmasına" }],



    "answer": "Yerli özünüidaretmə orqanlarında kargüzarlığın aparılmasına",
    "score": 0,
    "status": "" },



  {
    "id": 46,
    "question": "İşə başqa məhkəmədə baxılmasına hansı halda yol verilir?",
    "options": [
    { "a": "şəxsin razılığı ilə",
      "b": "yalnız şəxsin yazılı razılığı olduqda",
      "c": "heç bir halda",
      "d": "qanunla müəyyən edilmiş hallarda" }],



    "answer": "şəxsin razılığı ilə",
    "score": 0,
    "status": "" },


  {
    "id": 47,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
    "options": [
    { "a": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
      "b": " beynəlxalq hüquq normalarına uyğun",
      "c": "qanunvericiliyə uyğun",
      "d": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun" }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 48,
    "question": "Elektron imza sertifikatlaşdırılmamış imza vasitələri ilə yaradıldıqda: ",
    "options": [
    { "a": "etibarsız sayılır",
      "b": "gücləndirilmiş electron imza olarsa hüquqi qüvvəyə malikdir",
      "c": "imza sahibinin razılığını notarial qaydada təsdiq edən sənəd olmadıqda etibarsız sayılır",
      "d": "etibarsız sayıla bilməz" }],



    "answer": "etibarsız sayıla bilməz",
    "score": 0,
    "status": "" },

  {
    "id": 49,
    "question": "Dövlət qulluqçusu tətillərdə iştirak edərsə, bu hərəkətinə görə xəbərdarlıq aldıqdan sonra gəldiyi qərar barəsində hansı müddətdə və kimə məlumat verməlidir?",
    "options": [
    { "a": "15 iş günü ərzində dövlət orqanının rəhbərinə",
      "b": "30 gün ərzində dövlət orqanının rəhbərinə",
      "c": "30 gün ərzində birbaşa rəhbərinə",
      "d": "10 gün ərzində müvafiq icra hakimiyyəti orqanına" }],



    "answer": "30 gün ərzində dövlət orqanının rəhbərinə",
    "score": 0,
    "status": "" },


  {
    "id": 50,
    "question": "Hüquqi şəxslər cinayət tərkibi yaradan korrupsiya hüquqpozması törətdikdə onlar barəsində hansı tədbir görülür?",
    "options": [
    { "a": "inzibati qaydada cərimə edilirlər",
      "b": "qanunla müəyyən edilmiş qaydada cərimə və ya digər cinayət-hüquqi tədbirlər görülür",
      "c": "yalnız cinayət məsuliyyətinə cəlb edilirlər",
      "d": "qanunvericiliklə nəzərdə tutulmuş qaydada intizam məsuliyyətinə cəlb edilmələri üçün tədbirlər görülür" }],



    "answer": "qanunla müəyyən edilmiş qaydada cərimə və ya digər cinayət-hüquqi tədbirlər görülür",
    "score": 0,
    "status": "" },


  {
    "id": 51,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən yalnız Azərbaycan Respublikası Prezidentinin səlahiyyətlərinə aid olanı göstərin",
    "options": [
    { "a": "referendum təyin edilməsi",
      "b": "amnistiya və əfvetmə",
      "c": "diplomatik nümayəndəliklərin təsis edilməsi",
      "d": "diplomatik nümayəndələrin təyin edilməsi" }],



    "answer": "diplomatik nümayəndələrin təyin edilməsi",
    "score": 0,
    "status": "" },


  {
    "id": 52,
    "question": "Vətəndaşların müraciətlərinə dair tələblərdən hansı doğru deyil? ",
    "options": [
    { "a": "Yazılı müraciət nümayəndə vasitəsilə təqdim edildikdə müraciətə nümayəndənin səlahiyyətlərini təsdiqləyən sənəd əlavə olunmalıdır",
      "b": "Elektron müraciət həmin müraciətə baxan subyektin və ya onun vəzifəli şəxsinin elektron ünvanına göndərilir və ya onun rəsmi internet saytına daxil edilir",
      "c": "Anonim müraciətlər müraciətə baxan subyektlər tərəfindən qəbul edilmir",
      "d": "Yazılı müraciətdə müraciətə baxan subyektin vəzifəli şəxsinin vəzifəsi göstərilməlidir" }],



    "answer": "Yazılı müraciət nümayəndə vasitəsilə təqdim edildikdə müraciətə nümayəndənin səlahiyyətlərini təsdiqləyən sənəd əlavə olunmalıdır",
    "score": 0,
    "status": "" },


  {
    "id": 53,
    "question": "Azərbaycan Respublikası Konstitusiya Məhkəməsinin fəaliyyəti hansı normativ aktla müəyyən olunur? ",
    "options": [
    { "a": "Azərbaycan Respublikasının Konstitusiyası ilə",
      "b": "“Konstitusiya Məhkəməsi haqqında” Azərbaycan Respublikasının Qanunu ilə",
      "c": "Azərbaycan Respublikasının Konstitusiyası və “Konstitusiya Məhkəməsi haqqında” Azərbaycan Respublikasının Qanunu ilə",
      "d": "“Konstitusiya Məhkəməsi haqqında” Azərbaycan Respublikasının Qanunu və “Məhkəmələr və hakimlər haqqında” Azərbaycan Respublikasının Qanunu ilə" }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 54,
    "question": "Elektron sənəd dövriyyəsi vasitəçisi",
    "options": [
    { "a": "Elektron sənəd mübadiləsində maraqlı olan fiziki və ya hüquqi şəxslər",
      "b": "Qanunvericiliklə müəyyən edilmiş qaydada elektron xidmətlər göstərən fiziki və ya hüquqi şəxs",
      "c": "Elektron sənədi göndərən və alan arasında elektron sənəd dövriyyəsi xidmətləri göstərən fiziki və ya hüquqi şəxs",
      "d": "Elektron sənədi göndərən və alan araısında elektron sənədin nizamlanmış hərəkətinin həyata keçirilməsi prosesi" }],



    "answer": "Elektron sənədi göndərən və alan arasında elektron sənəd dövriyyəsi xidmətləri göstərən fiziki və ya hüquqi şəxs",
    "score": 0,
    "status": "" },


  {
    "id": 55,
    "question": "Azərbaycan Respublikasının Konstitusiyasına əsasən düzgün olmayan müddəanı göstərin",
    "options": [
    { "a": "Azərbaycan Respublikasının bütün ərazisində fövqəladə vəziyyət elan edilməsi ilə bağlı Azərbaycan Respublikasının Prezidenti fərman qəbul edir",
      "b": "Azərbaycan Respublikasının ayrı-ayrı yerlərində hərbi vəziyyət elan edilməsi ilə bağlı Azərbaycan Respublikasının Prezidenti fərman qəbul edir",
      "c": "Azərbaycan Respublikasında hərbi vəziyyət elan edilməsi ilə bağlı Azərbaycan Respublikasının Prezidentinin qəbul etdiyi fərman 24 saat ərzində Azərbaycan Respublikası Milli Məclisinin təsdiqinə verilir",
      "d": "Azərbaycan Respublikasında dövlətə qarşı qiyam baş verdikdə fövqəladə vəziyyət elan edilir" }],



    "answer": "Azərbaycan Respublikasının bütün ərazisində fövqəladə vəziyyət elan edilməsi ilə bağlı Azərbaycan Respublikasının Prezidenti fərman qəbul edir",
    "score": 0,
    "status": "" },


  {
    "id": 56,
    "question": "Word 2010-da ribbona yeni tab  əlavə etmək üçün hansı əmr ardıcıllığı yerinə yetirilməlidir ?",
    "options": [
    { "a": "File► Options",
      "b": "Home► Styles ",
      "c": "Page Layout►Page setup►add new tab ",
      "d": "Insert►Options ",
      "e": "View►Window►New window" }],



    "answer": "File► Options",
    "score": 0,
    "status": "" },



  {
    "id": 57,
    "question": " Hansılar doğrudur? 1. Səs platası informasiya daşıyıcısıdır. 2. Kontroller ana plata üzərində yerləşən yaddaş qurğusudur. 3.Rom, Ram,  videoyaddaş daxili yaddaşlardır. 4. II səviyyəli keş yaddaş ana plata üzərində yerləşir. 5. Literli printer görüntünü iynələr vasitəsilə kağıza döyəcləyir. 6. Əməli yaddaş aktiv proqram və verilənlərin qısa müddət ərzində saxlanması üçündür. ",
    "options": [
    { "a": "2,4,6",
      "b": "1,2,5",
      "c": "3,4,6",
      "d": "2,3,5",
      "e": "2,4,5" }],



    "answer": "3,4,6",
    "score": 0,
    "status": "" },



  {
    "id": 58,
    "question": "Abzası seçmək üçün  qeyd olunma zolağında  mausun sol düyməsi  .... dəfə və ya F8 düyməsi .... dəfə sıxmaq lazımdır.  (Ms Word 2010) ",
    "options": [
    { "a": "2,3",
      "b": "1,3",
      "c": "2,4",
      "d": "2,5",
      "e": "3,4" }],



    "answer": "2,4",
    "score": 0,
    "status": "" },


  {
    "id": 59,
    "question": "Uyğunluğu müəyyən edin :  (PowerPoint 2010)  Düymələr <hr> Düymələrin Funksiyaları: <br>1.Esc a. yeni slayd yaradır <br>2.F5 b. nümayişdən çıxır <br>3. Shift+F5 c. Birinci slayddan nümayişə başlayır <br>4. CTRL+M d. cari slaydda nümayşə başlayır ",
    "options": [
    { "a": " 1-d   2-b    3-a    4-c ",
      "b": " 1-b   2-c    3-d    4-a ",
      "c": "1-d   2-a    3-c    4-b ",
      "d": "1-d   2-c    3-a    4-b ",
      "e": "1-c   2-b    3-a    4-d  " }],



    "answer": " 1-b   2-c    3-d    4-a ",
    "score": 0,
    "status": "" },


  {
    "id": 60,
    "question": "İşçi vərəqə redaktədən qorumaq üçün parolların qoyulması aşağıdakılardan hansılar vasitəsilə yerinə yetirmək olar ?(Excel 2010) <hr> 1. File►Save as <br> 2. File►İnfo <br> 3. Home ►Format <br> 4. Format cell <br> 5. Review►Protect sheet <br> 6. Page layout►Protect ",
    "options": [
    { "a": "1.3.6",
      "b": "2.3.5",
      "c": "1.5",
      "d": "1.4.6",
      "e": "2.4" }],



    "answer": "2.3.5",
    "score": 0,
    "status": "" },


  {
    "id": 61,
    "question": " Verilmiş fraqmentə əsasən hansı slayd daha çox müddətdə nümyiş olunacaqdır? (PowerPoint 2010) ",
    "options": [
    { "a": "1-ci slayd",
      "b": "2-ci slayd",
      "c": "4 –cü slayd",
      "d": "5-ci slayd",
      "e": "6-ci slayd",
    }],



    "answer": "5-ci slayd",
    "score": 0,
    "status": "" },


  {
    "id": 62,
    "question": "Elektron cədvəldə 2-dən 6-a qədər sətrləri , Adan D-yə qədər sütunları özündə saxlayan xanalar blokunun ünvanını necə yazmaq olar?",
    "options": [
    { "a": "A6:D2",
      "b": "D6:A2",
      "c": "A2;D6",
      "d": "A2:D6",
      "e": "A6;D2" }],



    "answer": "A2:D6",
    "score": 0,
    "status": "" },


  {
    "id": 63,
    "question": "Elektron cədvəldə =SUM(D2:D5) düsturunun qiyməti 10-a bərabərdir. D5 xanasının qiyməti -2 olduqda , =AVERAGE(D2:D4) düsturunun qiyməti nədir? ( Cədvəldə heç bir boş xana yoxdur)",
    "options": [
    { "a": "5",
      "b": "10",
      "c": "4",
      "d": "8",
      "e": "2" }],



    "answer": "4",
    "score": 0,
    "status": "" },

  {
    "id": 64,
    "question": "Aşağıdakı elektron cədvəldə B9 xanasında hansı nəticə alınacaqdır ?",
    "options": [
    { "a": "yerinə yetirildi",
      "b": "yerinə yetirilmədi",
      "c": " #Name? ",
      "d": "5",
      "e": "6400",
    }],



    "answer": "yerinə yetirilmədi",
    "score": 0,
    "status": "" },

  {
    "id": 65,
    "question": " Hansı tip antiviruslar  əməli yaddaşda və xarici qurğularda virusların axtarışını təmin edir? ",
    "options": [
    { "a": "həkimlər ",
      "b": "müfəttişlər ",
      "c": "immunizatorlar ",
      "d": "keşikçilər ",
      "e": "detektorlar" }],



    "answer": "detektorlar",
    "score": 0,
    "status": "" },

  {
    "id": 66,
    "question": "Aşağıdakı piktoqram hansı funksiyanı yerinə yetirir?",
    "options": [
    { "a": "Cari sənədin görünüşündən ibarət yeni pəncərə açır",
      "b": "açıq proqram pəncərələrinin hamısını ekranda yan-yana düzür",
      "c": "sənədin bütün bölmələrinə eyni zamanda baxmaq üçün pəncərəni iki hissəyə bölür",
      "d": "Sənədin miqyasını elə dəyişdirir ki, ekranda bir neçə pəncərə eyni zamanda əks oluna bilir",
      "e": "Açıq pəncərələrinin siyahısını əks etdirərək bir açıq pəncərədən digərinə keçir"
    }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 67,
    "question": "Mini proqramların iş masasına gətirilməsi və onların gizlədilib-göstərilməsini uyğun olaraq kontekst menyunun hansı əmrləri ilə yerinə yetirmək olar? (Windows 7) ",
    "options": [
    { "a": "New►Personalize",
      "b": "View►Gadgets",
      "c": "View►Sort by",
      "d": "Gadgets►View",
      "e": "Personalize►Gadgets" }],



    "answer": "Gadgets►View",
    "score": 0,
    "status": "" },


  {
    "id": 68,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?C4:F7 diapazonuna aid olmayan xananı seçin (Excel 2010)",
    "options": [
    { "a": "C4",
      "b": "D5",
      "c": "E6",
      "d": "F3",
      "e": "F6" }],



    "answer": "F3",
    "score": 0,
    "status": "" },



  {
    "id": 69,
    "question": "Ms Excel 2010-da hansı halda sətirlər ardıcıllığı dəyişər? 1. Sətirləri gizlətdikdə 2. Sətirləri dondurduqda( Freeze panes) 3. Sütunun genişliyini 0(sıfır) etməklə 4. Sütunlar üzrə qruplaşdırma apardıqda(Group) 5. Sətri seçib Cut əmrini verməklə 6. Sətir hündürlüyünü 0 (sıfır) etməklə 7. Sütunlar  üzərində filtrləmə əməliyyatı apardıqda",
    "options": [
    { "a": "1,3,5,7",
      "b": "1,2,6,7",
      "c": "2,3,6",
      "d": "1,2,4,6",
      "e": "2,5,6,7" }],



    "answer": "1,2,6,7",
    "score": 0,
    "status": "" },



  {
    "id": 70,
    "question": "SMTP  protokoludur...",
    "options": [
    { "a": "OSİ modelinin tətbiqi səviyyəsinin",
      "b": "Hipermətnlərin ötürülməsi",
      "c": "Şəbəkə xəbərlərinin göndərilməsi",
      "d": "Elektron məktubun qəbulu",
      "e": "OSİ modelinin nəqliyyat səviyyəsinin" }],



    "answer": "OSİ modelinin tətbiqi səviyyəsinin",
    "score": 0,
    "status": "" },



  {
    "id": 71,
    "question": "a + b + d = ?",
    "options": [
    { "a": "14",
      "b": "18",
      "c": "15",
      "d": "16",
      "e": "17",
    }],



    "answer": "15",
    "score": 0,
    "status": "" },



  {
    "id": 72,
    "question": "2,5,4,16,19,18,?",
    "options": [
    { "a": "36",
      "b": "21",
      "c": "64",
      "d": "72",
      "e": "14" }],



    "answer": "72",
    "score": 0,
    "status": "" },



  {
    "id": 73,
    "question": "175 ilə 42 arasında olan əlaqə 222 ilə 44 arasında da vardır. Eyni əlaqə verilən variantların hansının arasında var?",
    "options": [
    { "a": "333 və 66",
      "b": "215 və 7",
      "c": "234 və 24",
      "d": "110 və 0",
      "e": "548 və 60" }],



    "answer": "215 və 7",
    "score": 0,
    "status": "" },


  {
    "id": 74,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
    "options": [
    { "a": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
      "b": "beynəlxalq hüquq normalarına uyğun",
      "c": "qanunvericiliyə uyğun",
      "d": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun" }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 75,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
    "options": [
    { "a": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
      "b": "beynəlxalq hüquq normalarına uyğun",
      "c": "qanunvericiliyə uyğun",
      "d": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun" }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },



  {
    "id": 76,
    "question": "a sayda qələm və 2a sayda silgi eyni qiymətədir. 5 qələm və 1 silgi alan tələbə qələmin qiymətinin neçə mislini ödəmişdir?",
    "options": [
    { "a": "4",
      "b": "9/2",
      "c": "11/2",
      "d": "7",
      "e": "13/2" }],



    "answer": "11/2",
    "score": 0,
    "status": "" },



  {
    "id": 77,
    "question": "",
    "options": [
    { "a": "Δ Δ",
      "b": "Ο Ο",
      "c": "Δ Δ Δ",
      "d": "□ Δ",
      "e": "Δ Ο",
    }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },




  {
    "id": 78,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
    "options": [
    { "a": "A",
      "b": "B",
      "c": "C",
      "d": "D",
      "e": "E"
      }],



    "answer": "D",
    "score": 0,
    "status": "" },


  {
    "id": 79,
    "question": "Satıcılar – A, B, C və D satmaq üçün bazara 12, 18, 24 və 30 litr süd gətirmişdilər. Biri Binə, biri Keşlə, digər ikisi isə Masazırdan gələn bu satıcılar gətirdikləri südü eyni həcmli – biri ikilitrlik, biri üçlitrlik, digər ikisi isə birlitrlik qablara doldurmuşdular (qablar tam doldurulmuşdu).  Məlumdur ki:  * B satmağa gətirdiyi südü dörd qaba doldurmuşdu;  * Binədən gələn D ikilitrlik qablarda süd gətirən satıcıdan çox, Keşlədən gəlməyən A-dan az süd gətirmişdi. Aşağıdakılardan hansı(lar) mütləq doğrudur? <hr> I. Satmağa ən çox süd gətirən satıcı Masazırdandır. <br> II. Keşlədən gələn satıcı gətirdiyi südü 9 qaba doldurub. <br> III. B Masazırdan gəlib.",
    "options": [
    { "a": "yalnız II",
      "b": "I və II",
      "c": "II və III",
      "d": "yalnız I",
      "e": "I və III" }],



    "answer": "I və II",
    "score": 0,
    "status": "" },




  {
    "id": 80,
    "question": "",
    "options": [
    { "a": "A",
      "b": "B",
      "c": "C",
      "d": "D",
      "e": "E",
    }],



    "answer": "D",
    "score": 0,
    "status": "" },



  {
    "id": 81,
    "question": "sür (…) düz",
    "options": [
    { "a": "cüü",
      "b": "ət",
      "c": "əm",
      "d": "ngü",
      "e": "kəm" }],



    "answer": "ngü",
    "score": 0,
    "status": "" },



  {
    "id": 82,
    "question": "Qanunauyğunluğu müəyyən edərək operatoru həll edin. 23 Δ 14 = 52 15 Δ 42 = 54 11 Δ 11 = 6 51 Δ 21 = ?",
    "options": [
    { "a": "11",
      "b": "12",
      "c": "27",
      "d": "7",
      "e": "9" }],



    "answer": "11",
    "score": 0,
    "status": "" },



  {
    "id": 83,
    "question": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
    "options": [
    { "a": "A",
      "b": "B",
      "c": "C",
      "d": "D",
      "e": "E",
    }],



    "answer": "C",
    "score": 0,
    "status": "" },



  {
    "id": 84,
    "question": "",
    "options": [
    { "a": "Azərbaycan Respublikası onun ərazisindən kənarda Dövlət bayrağı barədə təhqiredici hərəkətlərin qarşısının alınması məqsədilə nəyə uyğun tədbirlər görür?",
      "b": "beynəlxalq hüquq normalarına uyğun",
      "c": "qanunvericiliyə uyğun",
      "d": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun" }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },



  {
    "id": 85,
    "question": "",
    "options": [
    { "a": "23",
      "b": "21",
      "c": "27",
      "d": "29",
      "e": "22",
    }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 86,
    "question": "Tərəzinin tarazlıqda olduğunu bilərək həll",
    "options": [
    { "a": "□ □",
      "b": "Δ Δ Δ",
      "c": "Ο Ο Ο",
      "d": "□ Δ",
      "e": "□ Ο",
    }],


    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },


  {
    "id": 87,
    "question": "Fiqurda dörd üçbucaqdan ibarət neçə paraleloqram tapmaq mümkündür? (nümunə sağ tərəfdə göstərilib). ",
    "options": [
    { "a": "7",
      "b": "8",
      "c": "9",
      "d": "10",
      "e": "12",
    }],



    "answer": "Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq müqavilələrə və Azərbaycan Respublikasının Cinayət Məcəlləsinə uyğun",
    "score": 0,
    "status": "" },



  {
    "id": 88,
    "question": "Mətni oxuyun və qəti olaraq çıxan nəticəni müəyyənləşdirin. “Həsən restoranını təhvil verərək böyük şəhərin imkanlarından istifadə etmək üçün İstanbula köçmək istəyirdi.”",
    "options": [
    { "a": "Həsənin əsl işi restoranla bağlı deyil",
      "b": "Həsən restoranından dolanışığına çatacaq qədər pul qazana bilmirdi",
      "c": "Həsən restoran işini sevmirdi",
      "d": "Həsən restoran işindən başqa bir iş görmək istəyirdi",
      "e": "Həsən İstanbulda daha əlverişli şərtlər tapmağı gözləyirdi" }],



    "answer": "Həsən İstanbulda daha əlverişli şərtlər tapmağı gözləyirdi",
    "score": 0,
    "status": "" },



  {
    "id": 89,
    "question": "Verilən sözlər cütünə analoji olan natamam cütü tamamlayın.  Balıq – sazan Ağac – ?",
    "options": [
    { "a": "cökə",
      "b": "vələmir",
      "c": "kol",
      "d": "bitki",
      "e": "budaq" }],



    "answer": "cökə",
    "score": 0,
    "status": "" },



  {
    "id": 90,
    "question": "Eyni bir fiqurun iki fərqli görünüşü verilib. Bu fiqurun ixtiyari çevrilməsi nəticəsində alına bilən cavab variantını seçin (fiqurun üzlərindəki təsvirlər fərqlidir).",
    "options": [
    { "a": "A",
      "b": "B",
      "c": "C",
      "d": "D",
      "e": "E",
    }],



    "answer": "E",
    "score": 0,
    "status": "" },



  {
    "id": 91,
    "question": "Sürətləri 100 km/saat və 80 km/saat olan iki qatarın uzunluqları müvafiq olaraq 100 metr və 120 metrdir. Qatarlar qarşılaşdıqdan neçə saniyə sonra bir-birindən aralanmış olar?",
    "options": [
    { "a": "3,3",
      "b": "4,4",
      "c": "5,2",
      "d": "6,3",
      "e": "8,4" }],



    "answer": "4,4",
    "score": 0,
    "status": "" },



  {
    "id": 92,
    "question": "",
    "options": [
    { "a": "60",
      "b": "56",
      "c": "33",
      "d": "54",
      "e": "64" }],



    "answer": "60",
    "score": 0,
    "status": "" },



  {
    "id": 93,
    "question": "Qanunauyğunluğu müəyyən edin və “?” əvəzinə uyğun olan variant seçin.",
    "options": [
    { "a": "A",
      "b": "B",
      "c": "C",
      "d": "D",
      "e": "E" }],



    "answer": "A",
    "score": 0,
    "status": "" },


  {
    "id": 94,
    "question": "Anaqramı həll edin və kənar sözü tapın.",
    "options": [
    { "a": "ekvatorska",
      "b": "ərçicütəm",
      "c": "tarist",
      "d": "retrokad",
      "e": "taışçina" }],



    "answer": "ekvatorska",
    "score": 0,
    "status": "" },


  {
    "id": 95,
    "question": "",
    "options": [
    { "a": "114",
      "b": "162",
      "c": "81",
      "d": "39",
      "e": "144" }],



    "answer": "162",
    "score": 0,
    "status": "" },



  {
    "id": 96,
    "question": "",
    "options": [
    { "a": "L, R",
      "b": "N, R",
      "c": "L, K",
      "d": "N, K",
      "e": "N, P" }],



    "answer": "N, K",
    "score": 0,
    "status": "" },



  {
    "id": 97,
    "question": "",
    "options": [
    { "a": "6;3;3",
      "b": "6;2;2",
      "c": "6;6;3",
      "d": "6;3;2",
      "e": "6;3;1" }],



    "answer": "6;3;1",
    "score": 0,
    "status": "" },



  {
    "id": 98,
    "question": "m ◊ n = m2 – (m ♥ n) + 3     <br> m ♥ n = n + 2(m ◄ n) – 1 <br> m ◄ n = 3n – m <br> (5 ◊ 3) ♥ 6 = ? ",
    "options": [
    { "a": "3",
      "b": "5",
      "c": "12",
      "d": "18",
      "e": "24" }],



    "answer": "5",
    "score": 0,
    "status": "" },



  {
    "id": 99,
    "question": "Qrafiklərdə 2004 – 2008-ci illərdə A-nın və B-nin gəlirləri əks olunub. Hansı ildə A və B-nin ümumi gəlirləri daha az olub?",
    "options": [
    { "a": "2004",
      "b": "2005",
      "c": "2006",
      "d": "2007",
      "e": "2008" }],



    "answer": "2005",
    "score": 0,
    "status": "" },



  {
    "id": 100,
    "question": "Fərid və Anarın yaşları cəmi 40-a bərabərdir. Fəridin yaşı Anarın indiki yaşına bərabər olanda Anarın 5 yaşı var idi. Anarın yaşını tapın.",
    "options": [
    { "a": "15",
      "b": "22",
      "c": "25",
      "d": "18",
      "e": "24" }],



    "answer": "15",
    "score": 0,
    "status": "" }] };


var quizApp = function () {

  this.score = 0;
  this.qno = 1;
  this.currentque = 0;
  var totalque = quiz.JS.length;



  this.displayQuiz = function (cque) {
    this.currentque = cque;
    if (this.currentque < totalque) {
      $("#tque").html(totalque);
      $("#previous").attr("disabled", false);
      $("#next").attr("disabled", false);
      $("#qid").html(quiz.JS[this.currentque].id + '.');


      $("#question").html(quiz.JS[this.currentque].question);
      $("img").attr('src', quiz.images[this.currentque]);
      $("#question-options").html("");
      for (var key in quiz.JS[this.currentque].options[0]) {
        if (quiz.JS[this.currentque].options[0].hasOwnProperty(key)) {

          $("#question-options").append(
          "<div class='form-check option-block'>" +
          "<label class='form-check-label'>" +
          "<input type='radio' class='form-check-input' name='option'   id='q" + key + "' value='" + quiz.JS[this.currentque].options[0][key] + "'><span id='optionval'>" +
          quiz.JS[this.currentque].options[0][key] +
          "</span></label>");

        }
      }
    }
    if (this.currentque <= 0) {
      $("#previous").attr("disabled", true);
    }
    if (this.currentque >= totalque) {
      $('#next').attr('disabled', true);
      for (var i = 0; i < totalque; i++) {if (window.CP.shouldStopExecution(0)) break;
        this.score = this.score + quiz.JS[i].score;
      }window.CP.exitedLoop(0);
      return this.showResult(this.score);
    }
  };

  this.showResult = function (scr) {
    $("#result").addClass('result');
    $("#result").html("<h1 class='res-header'>Toplam Bal: &nbsp;" + scr + '/' + totalque + "</h1>");
    for (var j = 0; j < totalque; j++) {if (window.CP.shouldStopExecution(1)) break;
      var res;
      if (quiz.JS[j].score == 0) {
        res = '<span class="wrong">' + quiz.JS[j].score + '</span><i class="fa fa-remove c-wrong"></i>';
      } else {
        res = '<span class="correct">' + quiz.JS[j].score + '</span><i class="fa fa-check c-correct"></i>';
      }
      $("#result").append(
      '<div class="result-question"><span>Q ' + quiz.JS[j].id + '</span> &nbsp;' + quiz.JS[j].question + '</div>' +
      '<div><b>Düzgün Cavab:</b> &nbsp;' + quiz.JS[j].answer + '</div>' +
      '<div class="last-row"><b>Xal:</b> &nbsp;' + res +

      '</div>');



    }window.CP.exitedLoop(1);
  };

  this.checkAnswer = function (option) {
    var answer = quiz.JS[this.currentque].answer;
    option = option.replace(/\</g, "&lt;"); //for <
    option = option.replace(/\>/g, "&gt;"); //for >
    option = option.replace(/"/g, "&quot;");

    if (option == quiz.JS[this.currentque].answer) {
      if (quiz.JS[this.currentque].score == "") {
        quiz.JS[this.currentque].score = 1;
        quiz.JS[this.currentque].status = "correct";
      }
    } else {
      quiz.JS[this.currentque].status = "wrong";
    }

  };

  this.changeQuestion = function (cque) {
    this.currentque = this.currentque + cque;
    this.displayQuiz(this.currentque);

  };

};


var jsq = new quizApp();

var selectedopt;
$(document).ready(function () {
  jsq.displayQuiz(0);

  $('#question-options').on('change', 'input[type=radio][name=option]', function (e) {

    //var radio = $(this).find('input:radio');
    $(this).prop("checked", true);
    selectedopt = $(this).val();
  });



});




$('#next').click(function (e) {
  e.preventDefault();
  if (selectedopt) {
    jsq.checkAnswer(selectedopt);
  }
  jsq.changeQuestion(1);
});

$('#previous').click(function (e) {
  e.preventDefault();
  if (selectedopt) {
    jsq.checkAnswer(selectedopt);
  }
  jsq.changeQuestion(-1);
});
//# sourceURL=pen.js
    </script>
</body>
</html>
